
@{
    ViewBag.Title = "Index";
   
}

<br>
<h1><center><b>WELLCOME  TO  STUDENT  MANGAGEMENT  SYSTEM</b></center></h1>

<br>


<center><h4>You can Login as a Admin, Student & Teacher</h4></center>




<br><br><br>

